.hero-section {
    width: 100%;
}

.hero-section input {
    padding: 10px;
    margin-left: 4px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 9px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    background-color: #f2f2f2;
    color: #000;
}

.hero-section button {
    padding: 10px;
    margin-top: 10px;
    margin-right: 4px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #78c4eb;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    opacity: 0.75;
}

.chat-history {
    display: flex; 
    flex-direction: column;
    padding: 10px;
    height: 88%;
    margin-bottom: 8px;
    background-color: #1c1d1e;
    color: #ffffff;
    overflow-y: auto;
}

/* Media queries for responsiveness */


@media (max-width: 900px) {
    .hero-section {
        margin-left: 0;
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    

    .hero-section form {
        flex-direction: row;
        padding: 0;
    }

    .hero-section input {
        margin-right: 5px;
        margin-bottom: 0;
    }

    .hero-section textarea {
        height: 500px;
    }
}



@media (max-width: 1280px) {
    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .sidebar {
        width: 50%;
    }
}